<div class="container">
  <h2>Create Poll</h2>
  <div class="row" name="pollForm">
    <form class="col s12">
      <div class="input-field">
        <textarea id="question" class="materialize-textarea" length="500"></textarea>
        <label for="question">Please enter poll question</label>
      </div>
      <div class="input-field">
        <input id="option_1" type="text" length="100">
        <label for="option_1">Option 1</label>
      </div>
      <div class="input-field">
        <input id="option_2" type="text" length="100">
        <label for="option_2">Option 2</label>
      </div>
      <div class="input-field">
        <input id="option_3" type="text" length="100">
        <label for="option_3">Option 3</label>
      </div>
    </form>
  </div>
</div>
